.wrapper {
	margin: 20px 25px;

}

.wrapper > div {
	margin-bottom: 30px;
}

.rest-details {
	display: table;
	width: 100%;
}

.rest-detail-col {
	float: left;
	width: calc(50% - (20px * 2));
	padding: 0 20px;
}

@media screen and (max-width: 550px) {
	.rest-detail-col {
		/*float: left;*/
		width: 100%;
		/*padding: 0 20px;*/
	}
}

.rest-detail-col div:not(:last-child) {
	margin-bottom: 30px;
}

.rest-detail-col div p:first-of-type {
	margin-top: 0;
}

.rest-detail-col h4 {
	margin-top: 0;
	margin-bottom: 10px;
}

.rest-contact ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.rest-opening-times ul {
	font-size: 10pt;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.rest-opening-times > ul {
	display: table;
}

.rest-opening-times > ul > li {
	float: left;
	display: table-cell;
	width: 130px;
	padding-bottom: 13px;
}

.rest-opening-times > ul > li ul {
	font-size: 8pt;
}

#map-page .ui-content {
	padding: 0;
	position: absolute;
	top: 42.38px;
	right: 0;
	bottom: 56px;
	left: 0;
}

.map-container {
	width: 100%;
	height: 450px;
}

#map {
	height: calc(100% - 60.3px);
	width: 100%;
}

.photos {
	text-align: center;
}

.photos img {
	border-radius: calc(25% / 4);
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	width: 25%;
}